# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ==========================================================
# Generated Cache Files
# ==========================================================

*.pkl

# ==========================================================
# Temporary Archives
# ==========================================================

*.zip

# ==========================================================
# Office Temporary Files
# ==========================================================

~$*.xlsx
~$*.docx

# ==========================================================
# Windows
# ==========================================================

desktop.ini
Thumbs.db

# ==========================================================
# macOS
# ==========================================================

.DS_Store