# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Generated Dataset Cache
# ==========================================================

*.pkl

# ==========================================================
# Temporary Archives
# ==========================================================

*.zip

# ==========================================================
# Office Working Files
# ==========================================================

~$*.xlsx
~$*.docx

# ==========================================================
# OS Files
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini